* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    border-bottom: 3px solid rgb(10, 94, 128);
    align-items: center;
    padding-bottom: 15px;
}

header img {
    height: 95px;
    margin-left: 25px;
}

header li{
    display: inline;
    padding-right: 10px;
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
    margin-right: 25px;
}

header a {
    text-decoration: none;
    color: rgb(87, 202, 248);
}

header a:hover {
    color: silver;
    text-underline-offset: 8px;
    transition: .2s ease-in-out;
}

.main {
    display: flex;
    color: rgb(87, 202, 248);
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

#profile-pic{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 3px solid gray;
}

.profile-info {
    margin-left: 45px;
}

.profile-info p{
    margin-left: 90px;
    font-style: italic;
    padding-bottom: 10px;
}

.profile-info h1 {
    margin-left: 10px;
    padding-bottom: 20px;
}

.profile-info h3 {
    margin-left: 50px;
    margin-bottom: 25px;
}

#button {
    background-color: white;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 25px;
    font-weight: 600;
    margin-right: 5px;
    margin-left: 50px;
}

#button:hover {
    color: white;;
    background-color: gray;
    transition: 0.3s ease-in-out;

}

.linkedIn {
    border: 1px solid orange;
    height: 35px;
    visibility: hidden;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        margin-top: 15px;
    }

    header img {
        margin: 0 auto;
        height: 120px;
        margin-bottom: 10px;
    }

    header li {
        display: block;
        margin: 8px auto;
        margin-left: 15px;
        font-size: 18px;
    }

    .main {
        flex-direction: column;
        align-items: center;
        margin-top: 100px;
    }

    #profile-pic {
        height: 200px;
        width: 200px;
        margin-top: -25px;
        margin-bottom: 15px;
    }

    .profile-info {
        margin: 0 auto;
        text-align: center;
    }

    .profile-info p {
        margin: 0 auto;
    }

    .profile-info h1 {
        font-size: 24px;
    }

    .profile-info h3 {
        font-size: 18px;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    #button {
        margin: 0 auto;
        margin-top: 10px;
    }

    .linkedIn {
        visibility: hidden;
        margin-top: 10px;
    }
}





